@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Mail Sent</title>
</head>
<body>
     @{
        if (ViewBag.IsMailSentSuccessfully != null && (bool)ViewBag.IsMailSentSuccessfully)
        {
        <div class="panel-head">
            Thank you. Your request has been submitted to E2RC. We will follow-up with you to schedule the maintenance/corrective action activities.
        </div>
        }
       @* else
        {
        <div class="panel-head">
            Unable to send.
        </div>
        }*@
    }
</body>
</html>

