@{
    ViewBag.Title = "Index";
}

<div class="navbar" style="margin-bottom: 0% !important;">
    <div class="row">
        <div class="col-md-6">
            <div class="col-sm-4">
                @Html.ActionLink("Dashboard", "Index", "Dashboard", null, new { @class = "btn btn-custom btn-black" })
            </div>
            <div class="col-sm-1">
            </div>
            @*<div class="col-sm-4">
                @Html.ActionLink("Inspection", "Create", "Inspection", null, new { @class = "btn btn-custom btn-black " })
            </div>*@
        </div>
    </div>
</div>

<div class="panel-head">
   SWPPP INSPECTION FORM CGP 2012 Information
</div>
  <div id="accordion" class="panel-group" aria-multiselectable="true" role="tablist">
      <h3> <font style="color: #468847;">Information Successfully inserted.</font></h3>
</div>
